
@charset "UTF-8";

// Bootstrap
@import "core/bootstrap/functions";
@import "core/bootstrap/variables";

// CORE
@import "core/mixins";
// Your custom variables
@import "custom-variables";
@import "core/colors";
@import "core/variables";
@import "core/global";
@import "core/helpers";
@import "core/typography";
@import "core/masks";
@import "core/waves";

// FREE
@import "free/animations-basic";
@import "free/modules/animations-extended/module";
@import "free/buttons";
@import "free/cards";
@import "free/dropdowns";
@import "free/input-group";
@import "free/navbars";
@import "free/pagination";
@import "free/badges";
@import "free/modals";
@import "free/carousels";
@import "free/forms";
@import "free/msc";
@import "free/footers";
@import "free/list-group";
@import "free/tables";
@import "free/depreciated";
@import "free/steppers";
@import "free/loader";
// Free addons
// @import "addons/datatables";
// @import "addons/datatables-select";
// @import "addons/directives";
@import "theme/variables";
@import "theme/scroll";
@import "theme/mixins";
@import "theme/reset";
@import "theme/header";
@import "theme/home";
@import "theme/destinos";
@import "theme/mini-destinos";
@import "theme/blog";
@import "theme/contacto";
@import "theme/footer";
// Your custom styles
@import "custom-styles";
@import "style";
