.site-cover{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	background-position: center center;
	position: relative;
	&.overlay{
		position: relative;
		&:before{
			position: absolute;
			content: "";
			left: 0;
			bottom: 0;
			right: 0;
			top: 0;
		}
	}
	.player{
		position: absolute;
		bottom: -250px;
		width: 100%;
	}
	&, .row{
		min-height: 400px;
		height: 30%;
	}
	h1{
		font-weight: 700;
		margin-bottom: 20px;
	}
	a{
		color: $secondaryColor2;
	}
	a, span{
		font-size: 20px;
	} 
}
.overlap-section{
	.container{
		margin-top: -40px;
		z-index: 2;
		position: relative;
	}
}
.services{
	background: $white;
	padding: 25px;
	.content_icon{
		.icon{
			line-height: 1.3;
			position: relative;
			span{
				color: $secondaryColor2;
			}
		}
	}
	.media-body{
		h3{
			font-size: 20px;
		}
	}
	&:hover{
		color: $white;
		@include gradient-cyan(); 
		transition: .4s all ease-in-out;
		h3{
			color: $white;
			transition: .4s all ease-in-out;
		}
		.icon{
			span{
				color: $white;
				transition: .4s all ease-in-out;
			}
		}
		p{
			color: $white;
			transition: .4s all ease-in-out;
		}
	}
}
.destination{
	margin-top: 25px;
	padding-top: 5rem; 
	padding-bottom: 4rem;
	.heading-section{
		h2{
			font-size: 30px;
			line-height: 1.5;
			color: rgba(0,0,0,.8);
			font-weight: 800;
		}
	}
	.thumb{
		position: relative;
		width: 100%;
		display: block;
		overflow: hidden;
		z-index: 0;
		margin-bottom: 50px;
		.img{
			position: relative;
			overflow: hidden;
			@include border-radius(4px);
		}
		img{
			-webkit-transform: scale(1.2);
			-moz-transform: scale(1.2);
			-o-transform: scale(1.2);
			transform: scale(1.2);
			z-index: -1;
			@include transition(.6s);
		}
		.text{
			padding: 1.5em 0 0 0;
			position: relative;
			h4.price{
				position: absolute;
				top: -25px;
				right: 10px;
				padding: .4em .7em;
				background: $white;
				font-weight: 600;
				font-size: 20px;
				@include transition(.3s);
				@include border-radius(2px);
				-webkit-box-shadow: 0px 20px 43px -8px rgba(0,0,0,0.11);
				-moz-box-shadow: 0px 20px 43px -8px rgba(0,0,0,0.11);
				box-shadow: 0px 20px 43px -8px rgba(0,0,0,0.11);
			}
			@include transition(.6s);
			span{
				font-weight: 500;
				font-size: 14px;
				text-transform: uppercase;
				letter-spacing: 2px;
				color:rgba(0, 0, 0, 0.514);
			}
			h3{
				font-size: 20px;
				font-weight: 600;
				color: $black;
				a{
					color: $black;
				}
			}
			p{
				color: $black;
			}
		}
		.icon{
			position: absolute;
			top: -50px;
			right: .5em;
			width: 50px;
			height: 50px;
			border: 1px solid $white;
			transform: translateY(-50%);
			@include border-radius(50%);
			@include transition(.6s);
			opacity: 0;
			z-index: 2;
			.icon-enlarge2{
				color: $white;
				font-size: 20px;
			}
		}
		&:hover, &:focus{
			.text{
				.price{
					background: #ffb400;
				}
			}
			.icon{
				top: 30px;
				opacity: 1;
			}
			img{
				-webkit-transform: scale(1.0);
				-moz-transform: scale(1.0);
				-o-transform: scale(1.0);
				transform: scale(1.0);
			}
		}
	}
}
.pagination{
	ul{
		padding: 0;
		margin: 0;
		li{
			display: inline-block;
			margin-bottom: 4px;
			font-weight: 400;
			a, span{
				color: #0575E6;
				text-align: center;
				display: inline-block;
				width: 40px;
				height: 40px;
				line-height: 40px;
				border-radius: 50%;
				border: 1px solid lighten($black,80%);
				&:hover{
					background: $secondaryColor2;
					color: $white;
					border: 1px solid transparent;
					transition: .3s all ease-in-out; 
				}
			}
			&.active{
				a, span{
					background: #0575E6;
					color: $white;
					border: 1px solid transparent;
				}
			}
		}
	}
}