.bg-footer{
    padding-top: 40px;
    padding-bottom: 40px;
    background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	background-position: center center;
}
.footer_contact{
    margin-top: 20px;
    .footer_contact_icon{
        @media (max-width:767px ) {
            margin-top: 2rem;
        }
        width: 100%;  
        img{
            width: 50px;
        }
    }
    .footer_contact_title{
        margin-top: 25px;
        h2{
            color: #fff;
            font-size: 15px;
            text-transform: uppercase;
            font-weight: 400; 
        }
    }
    .footer_contact_btn{
        .primary-btn{
            margin-top: 15px;
            display: block;
            font-size: 12px;
            font-weight: 250;
            border: 1px solid #fff;
            background: none;
            padding: 10px 25px;
            color: #fff;
            &:hover{
                background: #fff;
                color: #000;
            }
        }
    }
}
footer{
    padding-top: 10px;
    background: rgba(8, 149, 114, 0.938);
    color: $white;
    .logo-footer{
        width: 100%;
        img{
            width: 80px;
        }
        h2{
            color: $white;
            font-size: 15px;
            text-align: center;
        }
    }
}
// .footer{
//     padding: 10px 0;
//     background: rgba(8, 149, 114, 0.938);
//     .footer_info{
//         .footer_dest{
//             .title_dest{
//                 color: #fff; 
//                 font-size: 15px;
//             }
//             .dest_logo{
//                 img{
//                     width: 40px;
//                 }
//             }
//             .dest_logo_2{
//                 width: 100%;
//                 img{
//                     width: 140px;
//                 }
//             }
//         }
//         .footer_social{
//             li {
//                 list-style: none;
//                 margin: 0 10px 0 0;
//                 display: inline-block;
//                 a {
//                     height: 30px;
//                     width: 30px;
//                     display: block;
//                     float: left;
//                     color: #fff;
//                     background:none;
//                     border: 1px solid #fff;			
//                     border-radius: 50%;
//                     position: relative;
//                     span {
//                         position: absolute;
//                         font-size: 15px;
//                         top: 50%;
//                         left: 50%;
//                         transform: translate(-50%, -50%);
//                     }
//                 }
//             }
//                 .icon-1{
//                     &:hover,&:focus{
//                         .icon-twitter{
//                             color:#0084b4;  
//                         }
//                         border: 1px solid #0084b4;  
//                     }
//                 }
//                 .icon-2{
//                     &:hover,&:focus{
//                         .icon-facebook{
//                             color:#3a5795;  
//                         }
//                         border: 1px solid #3a5795;  
//                     }
//                 }
//                 .icon-3{
//                     &:hover,&:focus{
//                         .icon-instagram{
//                             color:#8a3ab9;  
//                         }
//                         border: 1px solid #8a3ab9;  
//                     }
//                 }
//                 .icon-4{
//                     &:hover,&:focus{
//                         .icon-youtube{
//                             color:#CC181E;  
//                         }
//                         border: 1px solid #CC181E;  
//                     }
//                 }
//         }
//         .questions_footer{
//             color: #fff;
//             @media (max-width: 767px) {
//                 border-top: 2px solid $secondaryColor2;
//                 margin-top: 20px;
//             }
//             h3{
//                 font-size: 15px;
//                 color: #fff;
//                 margin: 15px 0;
//             }
//             ul{
//                 padding: 0;
//                 li{
//                     list-style: none;
//                     padding: 5px 0;
//                 }
//                 span{
//                     color: rgba($white, .7);
//                 }
//                 .icon, .text{
//                     display: table-cell;
//                     vertical-align: top;
//                 }
//                 .text{
//                     font-size: 12px;
//                 }
//                 .icon{
//                     width: 40px;
//                     font-size: 15px;
//                     padding-top: 2px;
//                     color: rgba($white, 1);
//                 }
//             }
//         }
//     }
//     .copy{
//         font-size: 12px;
//     }
// }