html,
body,
.view {
  height: 100%;
}
.carousel {
  height: 100%;
  .carousel-inner {
    height: 100%;
    .carousel-item,
    .active {
      height: 100%;
    }
  }
}

.navbar {
  background-color: rgba(0, 0, 0, 0.8);
}

.top-nav-collapse {
  background-color: rgba(17, 17, 17, 0.938);
}


@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331;
  }
}

.page-footer {
  background-color: #1C2331;
}
.container{
	.navbar-brand{
		display: none;
		img{
			width: 50px;
		}
		@media (max-width: 991px){
			display: block;
		}
	}
}
html,
body,
header,
.view {
  height: 100%;
}

.carousel,
.carousel-item,
.carousel-item.active {
  height: 100%;
}
.carousel-inner {
  height: 100%;
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
	  background: #1C2331!important;
  }
}
.navbar-nav{
	.nav-item{
		margin: 0 15px;
	}
}
.collapse{
	.logo{
		margin: 2px 20px;
		img{
			width: 90px;
		}
		@media (max-width: 991px){
			display: none;
		}
	}
}

h6 {
line-height: 1.7;
}

.nav-item {
	.nav-link{
		font-size: 14px;
		text-transform: uppercase;
		&:hover{
			color: #f8b600!important;
		}
	}
}