html,
body,
header,
.view {
  height: 100%;
}

/* Carousel*/
.carousel,
.carousel-item,
.carousel-item.active {
  height: 100%;
}
.carousel-inner {
  height: 100%;
}

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
	  background: #1C2331!important;
  }
}
.navbar-nav{
	.nav-item{
		margin: 0 15px;
	}
}
.collapse{
	.logo{
		margin: 0 20px;
		width: 100px;
	}
}

h6 {
line-height: 1.7;
}

.nav-item a{
	font-size: 14px;
	text-transform: uppercase;
	&:hover{
		color: #f8b600!important;
	}
}