.carousel-inner{
    h1{
        color: #fff;
        font-size: 30px;
    }
}

// section intro
.intro{
    .intro-container{
        width: 100%;
        border-bottom: solid 2px #e4e6e8;
        padding-top: 70px;
        padding-bottom: 70px;
        .intro-item{
            .intro-icon{
               img{
                width: 60px;
               }
            }
            .intro-text{
                margin-top: 10px;
                text-align: center;
                h3{
                    font-weight: 500;
                    font-size: 20px;
                    color: #000;
                    margin: 15px 0;
                }
                p{
                    font-size: 15px;
                }
            }
        }
    }
}
/*Popular area css
==========================================*/
.popular-place-area{
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 30px;
    @media (max-width: 1024px) {
        margin-bottom: 0;
    }
    .left-content{
        position: relative;
        @media (max-width: 1024px) {
            img{
                max-width: 80%;
            }
            .img2{
                max-width: 50%;
                top: 5%!important;
            }
            .img3{
                right: 70%!important;
                max-width: 50%;
            }
        }
        @media (max-width: 991px) {
            display: none;
        }
        .img2{
            position: absolute;
            left: 50%;
            top: 2%;
        }
        .img3{
            position: absolute;
            right: 30%;
            bottom: -10%;
        }
    }
    .right-content{
        .main_title{
            margin-bottom: 15px;
            padding-right: 30px;
            h2{
                margin-bottom: 20px;
            }
            @media (max-width: 991px) {
                text-align: center;
            }
        }
    }
}

.counter_area {
    @media(max-width: 615px) {
        text-align: center;
    }
    .top-two{
        margin-bottom: 30px;
        @media(max-width: 991px) {
            display: inline;
        }
    }
    .bottom-two{
        @media(max-width: 991px) {
            display: inline;
        }
    }
    .single_counter{
        text-align: center;
        padding: 30px;
        border: 1px solid #eeeeee;
        display: inline-block;
        height: 180px;
        width: 165px;
        margin-right: 30px;
        @include transition();
        @media(max-width: 1024px) {
            width: 150px;
        }
        @media(max-width: 991px) {
            height: 150px;
            width: 138px;
            padding: 15px;
            &:last-child{
                margin-top: 30px;
            }
        }
        @media(max-width: 767px) {
            margin-right: 25px;
        }
        @media(max-width:400px) {
            width: 100%;
            margin-right: 0;
            &:nth-child(2){
                margin-bottom: 30px;
            }
        }
        .thumb{
            margin-bottom: 20px;
            img{
                @include transition();
            }
        }
        .info-content{
            h4{
                font-size: 24px;
                font-family: $title-font;
                font-weight: 700;
                margin-bottom: 10px;
            }
        }
        &:hover{
            background: $secondaryColor2;
            color: #fff;
            border: 1px solid transparent;
            .thumb{
                img{
                    @include filter(brightness(0) invert(1));
                }
            }
            .info-content{
                h4{
                    color: #fff;
                }
            }
        }
    }
}


// destination
.title-packetes{
    padding-top: 20px;
    padding-bottom: 30px; 
    text-align: center;
    h2{ 
        font-size: 35px;
        font-weight: bold;
    }
    p{
        padding-top: 25px; 
        font-size: 17px;
        color: #000;
    }
}
.site-section{
    .card-thumb{
        text-align: center;
        @media(max-width: 765px){
            margin-bottom: 35px;
        }
        .view{
            box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
            width: 100%;
            height: 100%;
            img{
                width: 100%;
            }
            @media(max-width: 991px){
                height: 100%;
            }
        }
        .text-thumb{
            padding: 15px;
            text-align: center;
            h6{
                font-size: 19px;
                color: $secondaryColor2;
            }
        }
        h4{
            margin-top: -15px;
            margin-bottom: 18px;
            color: $secondaryColor2;
        }
        .primary-btn{
           border-radius: 50px; 
           font-size: 15px;
           box-shadow: 0 5px 18px rgba(179, 166, 166, 0.3);
           background: $secondaryColor2;
           color: #fff;
        }
    }
}
// destination Populares
.why{
    width: 100%;
    margin-top: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    .section_title{
        color: #000;
    }

    .why-row{
        margin-top: 100px;
        .why_col{
            @media(max-width: 765px){
                div:nth-child(1),  div:nth-child(2){
                    margin-bottom: 40px;
                }
            }
        }
        .why_item{
            width: 100%;
            background: #fff;
            &:hover, &:focus{
                .why_icon{
                    transition: .3s all ease;
                    background: rgb(226, 205, 12);
                }
                cursor: pointer;
                transition: .4s all ease;
                transform: translateY(-15px);
                box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
            }
        }
        .why_image{
            width: 100%;
            img{
                max-width: 100%;
            }
        }
        .why_content{
            padding-top: 48px;
	        padding-bottom: 55px;
	        padding-left: 35px;
            padding-right: 35px;
            .why_title{
                font-family: 'Oswald', sans-serif;
	            font-size: 30px;
	            font-weight: 500;
	            color: #181818;
	            line-height: 1.1;
            }
            .why_text{
                margin-top: 20px;
            }
        }
        .why_icon{
            position: relative;
            position: absolute;
	        top: -29px;
	        left: 50%;
	        -webkit-transform: translateX(-50%);
	        -moz-transform: translateX(-50%);
	        -ms-transform: translateX(-50%);
	        -o-transform: translateX(-50%);
	        transform: translateX(-50%);
	        width: 73px;
	        height: 73px;
	        background: #f2f5f6;
            border-radius: 50%;   
            img{
                position: absolute;
                right: 12px;
                max-width: 60%;
            }  
        }

    }
}

// blog Section
.section-blog-recent{
    padding-top: 40px;
    padding-bottom: 100px;
    margin-bottom: 25px;
    .b-entry{
        .img-gradient{
            position: relative;
            margin-bottom: 30px;
            &::before{
                content:'';
                position:absolute;
                width:100%; 
                height:100%;
                display:inline-block;
            }
            img{
                display: block;
            }
        }
        h2{
            margin-top: 18px;
            a{
                color: $secondaryColor2;
                &:hover{
                    color: $secondaryColor1;
                }
            }
        }
        .meta{
            color: darken(#ccc, 10%);
            font-size: 14px;
                a{
                   color: $secondaryColor2;
                    &:hover{
                        color: $secondaryColor1;
                     } 
                }
        }
        p{
            line-height: 30px;
        }
    }
    .btn_main {
        padding: 0px 25px;
        background: transparent;
        display: inline-block;
        text-align: center;
        color: $title-color;
        font-size: 12px;
        font-weight: 500;
        line-height: 48px;
        border: 1px solid $baseColor;
        border-radius: 0px;
        text-transform: uppercase;
        letter-spacing: 2px;
        position: relative;
        @include transition();
        cursor: pointer;
        img {
            position: absolute;
            top: 50%;
            right: -30px;
            @include transform(translateY(-50%));
            @include transition();
        }
        &:hover {
            background: $baseColor;
            color: $title-color;
            border: 1px solid $baseColor;
            img {
                right: -38px;
            }
        }
    }
}
// gallery Widget fotos and Videos
.gallery_instagram{
    margin-top: 20px;
    padding-top: 3rem;
    padding-bottom: 4rem;
    
}