.social-content{
    margin-top: 20px;
    padding-top: 10px;
   .title{
       h4{
           font-size: 25px;
           font-weight: 600;
           margin-bottom: 10px;
       }
   }

   .social{
       margin-top: 15px;
        .social-facebook{
            padding: 13px 25px;
            background: #3b5998;
            color: #ffffff;
            &:hover{
                background: #204eb1; 
                transition: .2s all ease-in-out; 
                cursor: pointer;
            }
        }
        i{
            padding: 0px 8px 0px 0px;
        }
        .social-twitter{
            padding: 13px 25px;
            background: #00acee;
            color: #ffffff;
            &:hover{
                background: #2386ad;
                transition: .2s all ease-in-out; 
                cursor: pointer;
            }
        }
   }
}
.info-content{
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 60px; 
    .text-title{
        text-align: center;
        margin-bottom: 25px;
        font-weight: 600;
    }
    .p-location{
        font-weight: bold;
        margin: 15px 0;
    }
    .btn-popup{
        margin: 20px 0px;
        display: inline-block;
        font-weight: 400;
        padding: 10px 25px;
        background: transparent;
        color: $black;
        border: 1px solid rgb(5, 112, 145);
        border-radius: 30px;
        -webkit-box-shadow: 0 5px 18px rgba(0,0,0,0.30);
        -moz-box-shadow: 0 5px 18px rgba(0,0,0,0.30);
        box-shadow: 0 5px 18px rgba(0,0,0,0.30);
        &:hover{
            color: #ffffff;
            @include gradient-cyan();
            -webkit-box-shadow: 0 15px 25px rgba(0,0,0,0.30);
            -moz-box-shadow: 0 15px 25px rgba(0,0,0,0.30);
            box-shadow: 0 15px 25px rgba(0,0,0,0.30);
        }
    }
}
.gallery-content{
    padding-top: 4rem;
    padding-bottom: 4rem;
    .title-gallery{
        text-align: center;
        margin-bottom: 25px;
        font-weight: 500;
    }
    .gallery-item{
        margin-left: 15px;
        margin-right: 20px;
    }
    .single-gallery-image {
        width: 100%;
        margin-left: 0px;
        margin-right: -15px;
        margin-top: 10px;
        background-repeat: no-repeat !important;
        background-position: center center !important;
        background-size: cover !important;
        height: 200px;
        @include transition();
        &:hover{
            opacity:.8;
        }
        .item-img{
            margin-left: 0;
            margin-right: 0;
        }
    }
}